*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE y Herramientas (Limpieza)
.idea/
.artifacts/
graphify-out/
Enunciado.pdf

# Backend (Separado)
node_modules/
.env
